.header-img-career{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url('../images/stark-image002.jpeg');
    background-attachment: fixed;
    height:63vh;
    display:flex;
    justify-content: center;
}